/node_modules
*node_modules*
combined.log
/server/log/*.log
*.log
/server/tracking/tracking.txt
mongodb
/server/scripts/i2s_midgard.json
*tracking.txt*
*uploads*
server/uploads/images/*
server/tracking/*

